* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


html {
    background-color: #1A2024;
    /* font-family: "Inter", sans-serif; */
    color: rgb(106, 103, 94);
    font-family: "IM Fell English", serif;
    font-size: 16px;
}


.top-region {
    position:relative;
    background-color: #01364B;
    height: 60vh;
}
h1, h2 {
    color: rgb(82, 78, 71);
    font-family: "Playfair Display";
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    font-size: 1.25rem;
    font-family: "Bebas Neue";
    letter-spacing: 10%;
    transform: scaleY(0.8);
    position: relative;
    padding:2rem;
}

li {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

li::before{
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 4px); /* lets me perform calculations using css values */
    top: 50%;
    transform: translateY(-50%);
    /* background: #4F4286; */
    background: linear-gradient(
    to bottom,
    transparent 0%,
    /* #4F4286 50%, */
    hsl(220, 34%, 39%) 50%,
    transparent 100%
    );
}

.brand {
    position: relative;
    top: 4px;
    font-size: 4rem;
    font-family: "Bebas Neue";
}

nav, ul{
    height: 100%;
    color: white;
}

.wrapper {
    z-index: 3;
    --cut: 4px;
    margin-top: 1.5rem;
    width: 1200px;
    height: 74px;
    position: fixed;
    background-color: #0E1729;
    clip-path: polygon(0% var(--cut), var(--cut) var(--cut), var(--cut) 0%, calc(100% - var(--cut)) 0%, calc(100% - var(--cut)) var(--cut), 100% var(--cut), 100% calc(100% - var(--cut)), calc(100% - var(--cut)) calc(100% - var(--cut)), calc(100% - var(--cut)) 100%, var(--cut) 100%, var(--cut) calc(100% - var(--cut)), 0 calc(100% - var(--cut)));
}

.border {
    --cut: 4px;
    content: "";
    position: absolute;
    inset:2px;
    /* Instead of using border, use background as a trick to get around polygon not being able to have border */
    /* border: 1px solid #4F4286; */
    /* background-color: #4F4286;*/
    background-color: hsl(220, 34%, 39%);
    clip-path: polygon(0% var(--cut), var(--cut) var(--cut), var(--cut) 0%, calc(100% - var(--cut)) 0%, calc(100% - var(--cut)) var(--cut), 100% var(--cut), 100% calc(100% - var(--cut)), calc(100% - var(--cut)) calc(100% - var(--cut)), calc(100% - var(--cut)) 100%, var(--cut) 100%, var(--cut) calc(100% - var(--cut)), 0 calc(100% - var(--cut)));
}

.navbar {
    --cut: 4px;
    /* margin-top: 1.5rem; */
    /* #864257 is the border for stars website nav, #4F4286; is the square equivalent.*/
    position: absolute;
    inset: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* #290E25 is the colour for stars website nav background, #0E1729 is the square equivalent. */
    background-color: #0E1729;
    clip-path: polygon(0% var(--cut), var(--cut) var(--cut), var(--cut) 0%, calc(100% - var(--cut)) 0%, calc(100% - var(--cut)) var(--cut), 100% var(--cut), 100% calc(100% - var(--cut)), calc(100% - var(--cut)) calc(100% - var(--cut)), calc(100% - var(--cut)) 100%, var(--cut) 100%, var(--cut) calc(100% - var(--cut)), 0 calc(100% - var(--cut)));
}

.paper {
    background-color: #f8f2e7;
    background-image: url(rice-paper-1920x1080.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1;
}

.top-region::after {
    position:absolute;
    bottom:-6px;
    content: "";
    height: 10px;
    left:0;
    right:0;
    background-color: #01364B;
    /* background-color: red; */
    filter: url(#wavy2);
    transform: scaleY(-1);
    z-index: 1;
}



#hero {
    position: relative;
    z-index: 0;
    display: flex;
    gap: 2rem;
}

.hero-text {
    margin: 3rem;
    border-radius: 10px;
    border: 3px solid rgb(221, 210, 197);
    margin-left:4rem;
    margin-right: 4rem;
    width: 1500px;
    padding: 1rem;
}


.flex {
    display: flex;
}
.music {
    display: flex;
    margin-left:auto;
    margin-right: auto;
}


.hero-text div {
    padding: 1rem;
}

model-viewer {
    filter: grayscale(100%);
    opacity: 85%;
}

#projects {
    margin-top: 5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 1.5rem;
}
.centre {
    display:flex;
    flex-direction: column;
    align-items: center;
}



.galaxy{
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 60vh;
}

.sky{
  width: 100%w;
  height: 100%;
  background: rgb(16,21,29);
  /* background: linear-gradient(180deg, rgb(8, 10, 26) 0%, rgb(40, 43, 71) 100%); */
  background: linear-gradient(180deg, rgb(8, 10, 26) 0%, #01364B 100%);
}

i {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    transparent
  );
  height: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: starDrop 5s infinite linear;
  filter: blur(0.8px);
}

i:nth-child(4n + 1) {
  background: linear-gradient(
    0deg,
    rgb(253, 242, 191) 0%,
    transparent
  );
}

i:nth-child(4n + 2) {
  background: linear-gradient(
    0deg,
    rgb(210, 228, 255) 0%,
    transparent
  );
}

i:nth-child(4n + 3) {
  background-color: rgb(250, 210, 191);
  background: linear-gradient(
    0deg,
    rgba(2250, 210, 191, 1) 0%,
    transparent
  );
}

@keyframes starDrop {
  0% {
    transform: rotate(45deg) translate(0px, -2000px);
  }

  100% {
    transform: rotate(45deg) translate(0px, calc(100vh + 200px));
  }
}

j{
  display: inline-block;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: starMove 1s linear infinite;
}

j:nth-child(3n+1){
  background-color: rgb(248, 193, 167);
}

j:nth-child(3n+2){
  background-color: rgb(207, 199, 253);
}

@keyframes starMove {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(100vw);
  }
}



.moon{
  position: absolute;
  top: 20%;
  right: 15%;
  content: '';
  width: 110px;
  height: 110px;
  border-radius: 50%;
  z-index: 1;
  background: rgb(253, 248, 221);
  filter: blur(1px);
  box-shadow: 0px 0px 5px 5px rgba(253, 248, 221, 0.5);
  transition: 250ms;
  cursor: pointer;
}

.moon:hover{
  transform: scale(1.05);
}